.hero-section {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 100px 0px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 70px 115px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 459px;
    padding-top: 100px;
}

.group-head {
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
}

.group-desc {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin: 30px 0px 30px 0px;
}

.group button {
    width: 50%;
    padding: 20px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;

    background: #5454D4;
    border-radius: 10px;
    border: none;
}

.clients {
    display: flex;
    justify-content: space-around;
    padding: 0px 115px;
}

.clients img {
    width: 123.36px;
    height: 28.49px;
}

@media screen and (max-width: 1080px) {
    .hero {
        flex-direction: column;
        margin: 0% 10% 10% 10%;
    }

    .group {
        padding: 0% 10% 20% 0%;
        width: 90%;
    }

    .group-head {
        font-size: 50px;
        line-height: 47px;
    }

    .clients {
        flex-direction: column;
    }

    .clients img {
        margin-bottom: 10%;
    }
}